<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django</title>
    <link rel="stylesheet" href="{% static 'css/mystyle.css'} ">
</head>

<body>
    <h1>User Record</h1>
    <h2>Data Table</h2>
    <div class="user-record ">
        <table>
            <thead>
                <th>User Name</th>
                <th>User email</th>
            </thead>
            {% for user in users %}
            <tr>
                <td>{{user.last_name}} {{user.first_name}}</td>
                <td>{{user.email}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>