form {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: fit-content;
}

.form-field {
    padding: 1rem;
}

.form-field p label {
    width: 100%;
    color: #2691d9;
}

.form-field p input {
    width: 100%;
}

.form-field p {
    /* width: 100%; */
}

.submit {
    display: block;
    padding: 5px 5px 5px 5px;
    width: 100%;
}